:root {
  /* Paleta principal: azul-violeta */
  --primary: #6C63FF;
  --primary-010: #4b44c7;

  --secondary: #FF6584;
  --secondary-010: #c44466;

  --white: #fff;

  --black: #0f0f1a;
  --black-010: #1e1e2e;

  --grey: #9b9ba0;
}
